<div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="component" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{tituloCart}}</h2>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <app-carrito class="component"></app-carrito>
                </div>
            </div>
        </div>
    </div>
</div>
<h1> <img class="w-25" src="{{portada}}"> Tus juegos</h1>
<img class="portad" src="{{imagen}}" alt="home">
<div class="container">
    <app-games-list></app-games-list> 
</div>
<div class="footer">
    <app-footer></app-footer>
</div>