.table{
    border: black 1px solid;
}

.oferta{
    background: lightgreen;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
}

.card-img-top{
    height: 300px;
    width: max-content;
    padding-left: 50px;
}