<h1>Todos los juegos</h1>
<div class="cards">
    <div class="card-group" *ngFor="let game of games">
        <div class="card" style="width: 18rem;">
            <img [src]=game.imagen class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{game.nombre}}</h5>
                <p class="card-text"><span class="badge text-bg-danger" *ngIf="game.stock == 0">No disponible</span></p>   
                <p class="card-text">
                    <app-input-integer [(cantidad)]="game.cantidad" [max]="game.stock"></app-input-integer>
                </p>     
                <p class="card-text">{{game.precio | currency}} </p>
                <a class="btn btn-primary" (click)="addCarrito(game)" *ngIf="game.stock != 0">{{game.boton}}</a>
            </div>
        </div>
    </div>
</div>