img{
    width: 1260px;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}

.footer{
    margin-top: 20px;
}

.contenedor-carrito{
    display: none;
}

.cart{
    position: relative;
}

.cart li{
    position: absolute;
}